.menu {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.menu h1 {
  margin-left: -35px;
  color: #6070FF;
}

nav {
  margin-top: 10px;
}

.humburger {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

#name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color:#172b4d;
  margin-left: 24px;
  margin-right: 24px;
}

#disc {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 24px;
  margin-right: 24px;
}

#connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #7F8CFF;
}

.image img {
  display: inline-flex;
  justify-content: space-around;
  margin: 5px;
  margin-left: 24px;
}

.firsttDetail {
  background-image: url("./images/youngface.png");
  background-repeat: no-repeat;
  background-position-x: 48%;
  background-position-y: 5%;
  padding-top: 220px;
  padding-left: 19%;
  padding-right: 19%;
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
  height: 390px;
}

.date {
  margin-top: 20px;
  margin-left: -29px;
  justify-content: space-around;
}

#tonic {
  margin-top: 20px;
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
  margin-left: 16px;
}

.dates {
  display: flex;
  padding: 10px 10px;
  justify-content: space-around;
  margin-left: -20px;
}

#canopy {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin-left: 10px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

#Back {
  background: url("./images/circle.png");
  background-repeat: no-repeat;
  background-position-y: 30%;
  padding-left: 40px;
  width: 88px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
}

#number {
  background: url("./images/circle.png");
  background-repeat: no-repeat;
  background-position-y: 30%;
  font-family: 'Poppins', sans-serif;
  padding-left: 25px;
  margin-left: -15px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
}

#detail {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 16px;
  margin-right: 16px;
}

.firsttDetail button {
  align-items: center;
  padding: 4px 12px;
  background: #EBEBFF;
  border: 1px solid #DFE1E6;
  border-radius: 8px;
  color: #6070FF;
  margin-left: 16px;
}

#seeProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin-top: 30px;
  width: 120px;
  height: 50px;
}

.secondDetail {
  background-image: url("./images/lady.png");
  background-repeat: no-repeat;
  background-position-x: 48%;
  background-position-y: 5%;
  padding-top: 220px;
  padding-left: 19%;
  padding-right: 19%;
  height: 390px;
  margin-left: 24px;
  margin-right: 24px;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin-top: 88px;
  margin-bottom: 88px;
}

.thirdDetail {
  margin-left: 24px;
  margin-right: 24px;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
}

.fourthDetail {
  margin-left: 24px;
  margin-right: 24px;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
}

.About {
  margin-left: 24px;
  margin-right: 24px;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
}
