.menu {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.menu h1 {
  margin-left: -35px;
  color: #6070FF;
}

nav {
  margin-top: 10px;
}

.humburger {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

#name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color:#172b4d;
  margin-left: 24px;
  margin-right: 24px;
}

#disc {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 24px;
  margin-right: 24px;
}

#connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #7F8CFF;
}

.image img {
  display: inline-flex;
  justify-content: space-around;
  margin: 5px;
  margin-left: 24px;
}

.firsttDetail {
  background-image: url("./images/youngface.png");
  background-repeat: no-repeat;
  background-position-x: 48%;
  background-position-y: 5%;
  padding-top: 220px;
  padding-left: 19%;
  padding-right: 19%;
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
}

#tonic {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
}

#detail {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.date {
  display: flex;
  padding: 10px 10px;
}

.secondDetail {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 114px;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
}

.thirdDetail {
  margin-left: 24px;
  margin-right: 24px;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
}

.fourthDetail {
  margin-left: 24px;
  margin-right: 24px;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
}

.About {
  margin-left: 24px;
  margin-right: 24px;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
}
