.menu h1 {
  margin-left: -35px;
  color: #6070FF;
}

nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  margin-left: 6%;
  margin-right: 6%;
}

a:link {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.mainMenu {
  margin-top: 20%;
  height: 24px;
  top: calc(50% - 24px/2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: white;
}

.mainMenu a {
  color: white;
}

.closeMenu {
  margin-right: 30px;
  margin-top: 30px;
}

.fa-bars {
  margin-top: 22px;
}

.popup {
  position: absolute;
  background-color: #6070FF;
  height: 570px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.humburger {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

#name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color:#172b4d;
  margin-left: 24px;
  margin-right: 24px;
}

#disc {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 24px;
  margin-right: 24px;
}

#connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #7F8CFF;
}

.image img {
  display: inline-flex;
  justify-content: space-around;
  margin: 5px;
  margin-left: 24px;
}

.firsttDetail {
  background-image: url("./images/youngface.png");
  background-repeat: no-repeat;
  background-position-x: 48%;
  background-position-y: 5%;
  padding-top: 220px;
  padding-left: 19%;
  padding-right: 19%;
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
  height: 390px;
}

.date {
  margin-top: 20px;
  margin-left: -29px;
  justify-content: space-around;
}

#tonic {
  margin-top: 20px;
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
  margin-left: 16px;
}

.dates {
  display: flex;
  padding: 10px 10px;
  justify-content: space-around;
  margin-left: -20px;
}

#canopy {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin-left: 10px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

#Back {
  background: url("./images/circle.png");
  background-repeat: no-repeat;
  background-position-y: 30%;
  padding-left: 40px;
  width: 88px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
}

#number {
  background: url("./images/circle.png");
  background-repeat: no-repeat;
  background-position-y: 30%;
  font-family: 'Poppins', sans-serif;
  padding-left: 25px;
  margin-left: -15px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
}

#detail {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 16px;
  margin-right: 16px;
}

.firsttDetail button {
  align-items: center;
  padding: 4px 12px;
  background: #EBEBFF;
  border: 1px solid #DFE1E6;
  border-radius: 8px;
  color: #6070FF;
  margin-left: 16px;
}

#seeProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin-top: 30px;
  width: 120px;
  height: 50px;
}

.secondtDetail {
  background-image: url("./images/lady.png");
  background-repeat: no-repeat;
  background-position-x: 48%;
  background-position-y: 5%;
  padding-top: 220px;
  padding-left: 19%;
  padding-right: 19%;
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
  height: 440px;
}

#detailSecond {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 19%;
  padding-right: 19%;
}

#multi {
  width: 245px;
  height: 80px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
  margin-left: 16px;
}

.secondtDetail button {
  align-items: center;
  padding: 4px 12px;
  background: #EBEBFF;
  border: 1px solid #DFE1E6;
  border-radius: 8px;
  color: #6070FF;
  margin-left: 16px;
}

#secondSeeProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin-top: 30px;
  width: 120px;
  height: 50px;
}

.thirdDetail {
  background-image: url("./images/redcircle.png");
  background-repeat: no-repeat;
  background-position-x: 48%;
  background-position-y: 5%;
  padding-top: 220px;
  padding-left: 19%;
  padding-right: 19%;
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
  height: 390px;
}

.thirdDetail button {
  align-items: center;
  padding: 4px 12px;
  background: #EBEBFF;
  border: 1px solid #DFE1E6;
  border-radius: 8px;
  color: #6070FF;
  margin-left: 16px;
}

#thirdseeProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin-top: 30px;
  width: 120px;
  height: 50px;
}

.fourthDetail {
  background-image: url("./images/Professional.png");
  background-repeat: no-repeat;
  background-position-x: 48%;
  background-position-y: 5%;
  padding-top: 220px;
  padding-left: 19%;
  padding-right: 19%;
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
  height: 440px;
  margin-bottom: 114px;
}

.fourthDetail button {
  align-items: center;
  padding: 4px 12px;
  background: #EBEBFF;
  border: 1px solid #DFE1E6;
  border-radius: 8px;
  color: #6070FF;
  margin-left: 16px;
}

#fourthseeProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin-top: 30px;
  width: 120px;
  height: 50px;
}

.About {
  margin-left: 24px;
  margin-right: 24px;
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  height: 1023px;
}

#about {
  width: 105px;
  height: 80px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
  margin-left: 16px;
  margin-right: 16px;
}

#aboutDetail {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 19%;
  padding-right: 19%;
}

#aboutConnect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  color: #7F8CFF;
  margin-top: 100px;
}

#aboutseeProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin-top: 30px;
  width: 120px;
  height: 50px;
  color: #6070FF;
  margin-left: 15px;
  margin-right: 15px;
}

#language {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 16px;
  margin-right: 16px;
}

#javaScript {
  background-image: url("./images/Js.png");
  background-repeat: no-repeat;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

#html {
  background-image: url("./images/Html.png");
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 15px;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

#css {
  background-image: url("./images/css.png");
  background-repeat: no-repeat;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

.languageContainer {
  justify-content: space-between;
}

#frame {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

#skills {
  margin-left: 20px;
  margin-right: 20px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 130px;
}

.right2 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 170px;
}

.languageContainer hr {
  height: 0.1px;
  margin-left: 24px;
  margin-right: 24px;
  background: #DFE1E6;
}

footer {
  width: 375px;
  height: 940px;
  left: 0px;
  top: 5410px;
  background: #6070FF;
  border-top-left-radius: 100px;
}

#contact {
  margin-top: 103px;
  height: 56px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 140px;

}

#footerDetail {
  text-align: center;
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #EBEBFF;
  margin-left: 24px;
  margin-right: 24px;
}

form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 35px;
  border: 1px;
  border-radius: 8px;
}

input {
  border: 1px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: left;
  height: 48px;
}

input::placeholder {
  padding-left: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172B4D;
}

textarea {
  margin-top: 10px;
  border: 1px;
  border-radius: 8px;
}

textarea::placeholder {
  padding-left: 10px;
  padding-top: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #B3BAC5;
}

footer button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: 35px;
  width: 120px;
  height: 50px;
  color: #6070FF;
  border-radius: 8px;
}

#lineFoot {
  width: 134px;
  height: 5px;
  left: calc(50% - 134px/2 - 0.5px);
  bottom: 8px;
  background: #0D151E;
  border-radius: 10px;
  margin-top: 40px;
}
